
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
*{
    margin: 0;
    padding: 0;

}
nav{
    font-family: sans-serif;
     color: aliceblue;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
     
}
nav ul li{
    padding: 0 14px;
}
.image{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
}
.image img{
    height: 45px;
    padding: 0 10px;
}
.container{
    min-height: 90vh;
}
.botton{
    position: sticky;
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.range{
    width: 75%;
}

